# Ligne commentaire ignorée
# * pour une subtitution genre *.txt pour tout les fichier <quelque chose>.txt

## Fichier personnel à ne pas diffuser : 
# Fichier de configuration du Wifi à la maison

# Exemples :
# wifi_access.*
# wifi_access.env.h
# wifi_access.h

wifi_access.env.h
wifi_access.h

# En cas d'échec utiliser > git reset HEAD~x (avec x nombre de dépot à supprimer depuis le dernier dépot)
# il existes des solutions alternative ... j'ai pas compris comment ça marche -_-
